@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

body{
    background: #fff;
    line-height: 0.6;
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-size: larger;
    overflow: hidden;
}

.Header{
   
    width: 20%;
    margin: auto;
    margin-bottom: 10%;
    background: #fff;
    box-shadow: 0 5px 25px rgb(0 0 0 / 80%);
    transition: 0.8s all;
    border-radius: 10px;
    transform: scale(0.95);
}

.img {
    border-bottom: 1px solid grey;
    padding: 3rem;
    object-fit: contain;
    margin-top: 35px;
    padding-top: 0px;
    
}

.img1{
    height: 20%;
    width: 50%;
    margin: 20%;
    border:thick solid crimson;
    object-fit: contain;
    border-radius: 50%;

}

 .userInfo {
     /* box-sizing: border-box;
    
    padding: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 8px;
}


.footer {
    
    display: flex;
    justify-content: space-around;
    background: crimson;
    padding-top: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #fff;
    align-items: center;
    padding: 5px;
}


.Header:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .fa.fa-home{
      color: #fff;
  }

  .fa.fa-home:hover{
    box-shadow: 0 0 0 4px rgb(255 255 255);
    -webkit-transition:  0.2s, color 0.2s;
    -moz-transition: 0.2s, color 0.2s;
    transition: 0.2s, color 0.2s;
  }

  .fa.fa-trash{
    color: #fff;
    
}

.fa.fa-trash:hover {
    box-shadow: 0 0 0 4px rgb(255 255 255);
    -webkit-transition:  0.2s, color 0.2s;
    -moz-transition: 0.2s, color 0.2s;
    transition: 0.2s, color 0.2s;

  }

.fa.fa-edit{
    color: #fff;
}

.fa.fa-edit:hover{
    box-shadow: 0 0 0 4px rgb(255 255 255);
    -webkit-transition:  0.2s, color 0.2s;
    -moz-transition: 0.2s, color 0.2s;
    transition: 0.2s, color 0.2s;
}

.fa.fa-envelope-open{
    color: orangered;
    display: flex;
    flex-direction: column;
    justify-content: right;
} 
  
.fa.fa-user-circle-o{
    color: orangered;
}

.fa.fa-birthday-cake{
    color: orangered;
}

.fa.fa-edit :hover{

}

.main{
    line-height: 0.6;
}

