body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    /* box-sizing: border-box; */
}

.btn{
    background: coral;
    
    color: #fff;
    border: 0;
}

.btn:hover{
    background: rgb(14, 12, 161);
}

.modal{
   padding-bottom: 400px;
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
}

.modal-content{
    background-color: #f4f4f4 ;
    margin: 5% 10% 10% 400px;
    padding: 1px;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    animation: modalopen;
    animation-duration: 2s;
    margin-left: 400px;
}

.closeBtn{
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
}

.closeBtn:hover,.closeBtn:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;

}

@keyframes modalopen{
    from{opacity: 0}
    to {opacity:1 }
}

.modal-header{ 
   background-color: crimson;
   padding: 20px;
   color: #fff;
   border: thick solid gray;
   padding-bottom: 10px;
   margin-bottom: 20px;

}

.modal-header h1{
    margin: 0;
}

.edit-Form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 18px;
    padding: 33px;

}

.modal-footer{
    background-color: crimson;
    padding: 20px;
    color: #fff;
    border: thick solid gray;
    padding-bottom: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.input-field{
    width: 80%;
    margin-bottom: 10px;
    height: 1.7rem;
}

/* #EditName{
    width: 79%;
    margin-bottom: 10px;
    height: 1.7rem;
}

#Editpassword{
    width: 79%;
    margin-bottom: 10px;
    height: 1.7rem;

}*/

#Editage{
    width: 80%;
    margin-bottom: 10px;
    height: 2rem;
}

#Editposition{
    width: 81%;
    margin-bottom: 10px;
    height: 2rem;
   
} 

#cancel{
    margin: 20px;
}

#ok{
    margin: 20px;
}

.submit-btn:hover{
    color: #fff;
    background-color: blueviolet;
    transition: 0.2s ease-in-out;
}
