body{
    margin: 0;
    padding: 0;
}

.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    background-position: center;
    background-size: cover;
    position: fixed;
    overflow: hidden;
}

.form-box{
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),0 7px 20px 0 rgba(0, 0, 0, 0.17);
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto ;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 40px;

}

.header{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    cursor: pointer;

}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    transition: .5s;

}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}


.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}

.submit-btn{
    margin-left: 30px;
    margin-top: 20px;
    width: 85%;
    padding: 10px;
    cursor: pointer;
    display: block;
    
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

#login{
    left: 50px;
}

#register{
    left: 450px;
}


.backdrop {
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 10;
    background-color: rgba(255,255,255);

    display: none;
    justify-content: center;
    align-items: center;

}

.modal {
    position: relative;
    width: 40%;
    background-color: white;
    border: thin solid #ccc;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 8px rgb(153, 153, 153);
    padding: 16px;
    transition: all 1s;

}

.img{
    border-radius: 50%;
    height: 200px;
    width: 300px;
    text-align: center;
}

.modal-header {
 
    display: flex;
    justify-content: center;
    border-bottom: thin solid #ccc;
}

.modal-close {
    color: rgb(126, 126, 126);
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.modal-main {
    border-bottom: thin solid #ccc;
}

.modal-footer {
    padding: 8px 0px;

    display: flex;
    justify-content: flex-end;
}

.left{
    flex: 1;
    overflow: hidden;
}

.right{
    flex: 4;
}