body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
}

.modal1{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* background-color: rgba(0,0,0,0.5); */
    
}

.modal-content1{
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 10%;
    box-shadow:  0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);;
}

.closeBtn1{
    float: right;
    font-size: 30px;
    color: burlywood;
}

.closeBtn1:hover,.closeBtn:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}